.menu{
  position: absolute;
  top: 98px;
  z-index: 9999;
  width: 100%;
  &__nav{
    display: flex;
    justify-content: space-between;
    @include respondmax(md){
      .navbar-brand{
        text-align: center;
        width: 100%;
      }
    }
  }
  &__list{
    @include respondmax(lg){
      display: none;
    }
  }
  &__responsive-nav{
    display: block !important;
    background-color: #2b204b;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    max-height: 100vh;
    min-height: 100vh;
    overflow: auto;
    padding: 60px 38px 0 20px;
  }
  &__active{
    font-weight: bolder;
  }
  &__dropdown{
    position: relative;

  }
  &__dropdownContent{
    position: absolute;
    top: 38px;
    width: 330px;
    left: 0;
    background-color: #fff;
    display: none;
    padding: 15px;
    border-radius: 3px;
    &:before{
      position: absolute;
      z-index: 99999;
      content: '';
      border-bottom: 12px solid $white;
      border-right: 12px solid transparent;
      border-left: 12px solid transparent;
      top: -12px;
      left: 30px;
    }
  }
  &__dropdown-link{
    display: block;
    font-size: 1.6rem;
    color: $purple !important;
    text-decoration: none !important;
    line-height: 30px;
  }
  &__dropdownToggle{
    border-bottom-color: transparent !important;
  }
}
.nav-link{
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: transparent;
  transition: border-bottom-color .3s;
}
.nav-link:hover{
  border-bottom-color: $white;
  @include respondmax(lg){
    border-bottom-color:transparent !important;
  }
}
