        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer__info">
                            <div class="footer__logo mb-25">
                                <img src="../frq-templates/img/header_logo.png" alt="logo" class="img-fluid float-left">
                                <p class="footer__logo-text">BAKU-OXFORD SCHOOL</p>
                            </div>
                            <div class="footer__copyright">© Copyright 2015 · Baku-Oxford Sch ool · All Rights Reserved</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer__list">
                            <p class="footer__title text-uppercase text-white">About</p>
                            <ul class="list-unstyled">
                                <li class="footer__item"><a class="footer__link text-white" href="#">Head of School’s Welcome</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Our History</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Mission and Vision</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Advisory Board</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Academic and Events Calendar</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">News</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Useful Downloads</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer__list">
                            <p class="footer__title text-uppercase text-white">Admission</p>
                            <ul class="list-unstyled">
                                <li class="footer__item"><a class="footer__link text-white" href="#">Stage</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Primary School</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">High School</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Mission and Vision</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">College Guidance</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Advisory Board</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">University Destinations</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer__list">
                            <p class="footer__title text-uppercase text-white">Quick links</p>
                            <ul class="list-unstyled">
                                <li class="footer__item"><a class="footer__link text-white" href="#">News</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Our History</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Mission and Vision</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Advisory Board</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Useful Downloads</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Head of School’s Welcome</a></li>
                                <li class="footer__item"><a class="footer__link text-white" href="#">Academic and Events Calendar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="footer__list">
                            <p class="footer__title text-uppercase text-white">Contact us</p>
                            <ul class="list-unstyled footer__contact">
                                <li class="text-white d-flex align-items-center"><i class="material-icons mr-2">&#xe0c8</i><span>Baku Ox ford School, Abbaszadeh Str 8, AZ 1004, Baku, Azerbaijan</span></li>
                                <li class="text-white d-flex align-items-center"><i class="material-icons mr-2">&#xe0cd</i><span>(+994 12) 404 13 30</span></li>
                                <li class="text-white d-flex align-items-center"><i class="material-icons mr-2">&#xe8ad</i><span>(+994 12) 404 13 29</span></li>
                                <li class="text-white d-flex align-items-center mb-25"><i class="material-icons mr-2">&#xe158</i><span><a href="mailto:" class="text-white">info@bos.edu.az</a> <br/><a href="mailto:" class="text-white">admission@bos.edu.az</a></span></li>
                            </ul>
                            <ul class="social">
                                <li class="social__item"><a href="#"><i class="fa fa-facebook social__icon"></i></a></li>
                                <li class="social__item"><a href="#"><i class="fa fa-twitter social__icon"></i></a></li>
                                <li class="social__item"><a href="#"><i class="fa fa-youtube social__icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="frq-templates/libs/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8" async defer></script>
        <script src="frq-templates/libs/owl-carousel/owl.carousel.min.js"></script>
        <script src="frq-templates/js/all.min.js"></script>

      <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
      <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
      </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>
