.education{
  background: url('../../../frq-templates/img/educationbg.png');
  background-size: cover;
  &__info{
    font-size: 1.8rem;
    color: $white;
  }
  &__item{
    border: 1px solid $white;
    padding: 40px;
    border-radius: 3px;
    outline:transparent solid 1px;
    height: 325px;
    &:hover{
      background-color: $darkRed;
      transition: .3s;
      border: 0;
      outline-color: $white;
      outline-offset: -15px !important;
      .education___media{
        visibility: hidden;
        float: left;
      }
      .education__link{
        display: inline-block;
      }
    }
  }
  .owl-carousel .owl-item img {
    display: block;
    width: auto !important;
    margin: auto !important;
  }
  &__title{
    font-size: 1.8rem;
    padding: 0 45px;
    position: relative;
    &:after{
      content: '';
      width: 78px;
      height: 1px;
      background-color: $white;
      position: absolute;
      bottom: -22px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__description{
    font-size: 1.4rem;
    margin-top: 55px;
  }
  &__link{
    padding: 10px 50px;
    border: 1px solid $white;
    border-radius: 3px;
    background-color: transparent;
    color: $white;
    font-size: 1.2rem;
    display: none;
    transition: .3s;
    margin-top: 50px;
    cursor: pointer;
    font-weight: bolder;
    &:hover{
      background-color: $white;
      color: $darkRed !important;
    }
  }
}