.mission{
  &__info{
    padding: 0 15%;
    font-size: 1.8rem;
    color: $purple;
    @include respondmax(md){
      padding: 0 !important;
    }
  }
  &__item{
    padding: 80px 20px 30px;
    &--border{
      border:1px solid $gray;
    }
    &--border-radius{
      border-radius: 3px;
    }
  }
  &__title{
    position: relative;
    &:after{
      content: '';
      width: 58px;
      height: 2px;
      background-color: $gray;
      position: absolute;
      bottom: -14px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__description{
    font-size: 1.3rem;
    color: $purple;
  }
  &__media{
    height: 70px;
    width: 70px;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
  }
  &__img{
    //width: 100%;
    //height: 100%;
    //object-fit: cover;
  }
}